.window{
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 10;  
  width: 100%;
  height: 100%;
  left: 0;  
}

.window__basket{
  background:white;
  width:385px;
  height: 100%;
  position: fixed;
  right:0;
  padding: 30px;  
}


.basket__header{
  display: flex;
  justify-content: space-between;

  .basket__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
  }

    .basket__close{
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;        
    box-sizing: border-box;
    border-radius: 8px;
    transition-duration: 0.5s;

    &:hover{
      background:red;
    }

    .close{
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
    }
  }
}
