.product {
  width:100%; 
}

.product__title{
  display: flex;
  justify-content: space-between;  
  margin-bottom: 40px;

  .product__h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
  }

  .product__search{
    display: flex;
    width: 200px;
    height: 35px;
    border: 1px solid #575757;
    box-sizing: border-box;
    border-radius: 10px;

    .search__input{
      width: 150px;
      border-radius: 10px;
    }
    .search__svg {
      width: 20px;
      margin:0 10px ;
    }
  }
  
}

.allSneakers{  
  display: grid;
  grid-template: repeat(3,260px)/repeat(4,210px) ;
  gap: 40px;
  justify-items: center;  
}